<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
        background-color: gray;
        }
    </style>
    <meta charset="UTF-8">
    <title>Login painel netflix By@gnomoccs</title>
</head>
<body>
    <h1 style="text-align:center;font-family:Arial; margin-top: 20%; color: white;">Painel netflix2023 By@gnomoccs</h1><hr>
    <form action="{{url_for('paineladmin')}}" style="text-align:center;" method="POST">
        <input style="border-radius: 10px;" type="text" placeholder="USUARIO" name="login"><p>
        <input style="border-radius: 10px;" type="text" placeholder="SENHA" name="senha"><p>
        <input style="border-radius: 10px; border: none; font-size: 150%;" type="submit" value="Login"><hr>
    </form>
    <footer><p style="text-align:center;margin-top: 20%;color:white;">Todos direitos reservados a @gnomoccs</p></footer>
</body>
</html>